/*Use flexbox to make the ind divs into boxes*/
/*Without applying flexbox, the default behaviour of a webpage would be 
'block-level where all elements would just stack vertically*/
button{
    margin:8px;
    margin-bottom: 16px;
}

#container {
    display: flex;
    /*set height and width such that total dimension remains constant*/
    max-width: 640px;
    max-height: 640px;
}

.cell {
    /*set css variable*/
    --cell-size:calc(638px / 16);/*define variable first*/
    width: 638px / 16;
    height: 638px / 16;
    border: 1px solid black; /* Add borders to the cells */
    flex: auto;
}